main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .first--container{
    text-align: center;
    width: 250px;
    padding: 5px;
  }
  .first--container > h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    color: #293264;
  }
  .first--container > p {
    padding: 20px;
    color: #293264;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 13px;
  }
  .start--btn{
    background-color: #4D5B9E;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
  }
  
  
  
  .second--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bottom--container{
    margin-top: 10px;
  }

  .submit--btn{
    display: inline-block;
    height: 45px;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .correctanswers{
    display: inline-block;
  }




